@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root  {
  --background: 47.9 0% 100%;
  --foreground: 47.9 0% 10%;
  --card: 47.9 0% 100%;
  --card-foreground: 47.9 0% 15%;
  --popover: 47.9 0% 100%;
  --popover-foreground: 47.9 95% 10%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 47.9 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 9.899999999999999 10% 95%;
  --muted-foreground: 47.9 0% 40%;
  --accent: 9.899999999999999 10% 90%;
  --accent-foreground: 47.9 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 47.9 0% 100%;
  --border: 47.9 20% 82%;
  --input: 47.9 20% 50%;
  --ring: 47.9 95.8% 53.1%;
  --radius: 0.5rem;
}
.dark  {
  --background: 47.9 10% 10%;
  --foreground: 47.9 0% 100%;
  --card: 47.9 0% 10%;
  --card-foreground: 47.9 0% 100%;
  --popover: 47.9 10% 5%;
  --popover-foreground: 47.9 0% 100%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 47.9 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 9.899999999999999 10% 25%;
  --muted-foreground: 47.9 0% 65%;
  --accent: 9.899999999999999 10% 25%;
  --accent-foreground: 47.9 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 47.9 0% 100%;
  --border: 47.9 20% 50%;
  --input: 47.9 20% 50%;
  --ring: 47.9 95.8% 53.1%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}